        <p>© duygudağdelen Studio 2025 — The Hague</p>  
        <div class="cnt-links">
            <div class="emphasis">
                <a href="{{ site.baseurl }}/contact">Contact</a>
                {% assign ko_fi = site.networks | where: "title", "Ko-fi" | first %}
                &nbsp;&nbsp;&nbsp;<a href="{{ ko_fi.url }}" target="_blank">Give Support</a>
            </div>
            <div class="spacer"></div>
         
            {% for network in site.networks %}
            <a href="{{ network.url }}" target="_blank">{{ network.title }}</a>
            {% endfor %}  
        </div>
