  <header>
     <div class="author">(Duygu Dağdelen)</div>
     <div class="description heading">Inserting meaning into data to decode complexity with finesse and flair</div>
  </header>
  <aside>     
     <p>&nbsp; &nbsp; Aquatic Data™ is a flexible &amp; friendly data studio creating memorable, approachable, &amp; clever data strategies for <a href="#🌐" class="link">clients</a> who like to keep things interesting.<br><br>&nbsp; &nbsp; Our studio is structured around making decisions that truly drive growth with a network of talented collaborators led by <a href="#🌐" class="link">Duygu Dağdelen</a>.</p>
  </aside>
