    <header>
        <h1>Duygu Dağdelen</h1>
        <p>Retro arcade, where memories fade, In a maze of dreams, where we once played. Pixelated skies, and endless quests, In the heart of the <a href="#" class="link">arcade</a>, we found our rest. In the neon glow of the midnight hour, Lost in the echoes of an old power, Tokens jingling, joystick in hand, In a world of pixels, where we used to stand.</p>
    </header>
    <aside id="latest-posts">
        <h2>
            <span>Latest</span>
            <span class="scroll"></span>
        </h2>
        <div class="latest">
            <a href="#" class="card">
                <div class="card-title">Using Attractors to Understand</div>
                <span class="shape"></span>
		<div class="card-meta">
		       <div class="date">05 Aug 2024 ————</div>
		       <div class="category">Complex Systems, Time Series, Data Visualization</div>
                </div>
            </a>
            <a href="#" class="card">
               <div class="card-title">A Visual Exploration into the Disparities in Human Influence on Earth's Surface</div>
                <div class="card-meta">
			<div class="date">17 Jul 2024 ————</div>
			<div class="category">Our World in Data, Data Visualization, Datawrapper</div>
                </div> 
            </a>
            <a href="#" class="card">
               <div class="card-title">Extracting Valuable Messages from 'Alchemy of Souls</div>
                <div class="card-meta">
			<div class="date">28 Jun 2024 ————</div>
			<div class="category">Data Extraction, NLP, Web Application, Python, Project, Javascript, HTML-CSS</div>
                </div> 
            </a>
            <a href="#" class="card">
               <div class="card-title">Lost in the spherical surfaces</div>
                <div class="card-meta">
			<div class="date">19 May 2024 ————</div>
			<div class="category">Digital, Love, Languages</div>
                </div> 
            </a>
        </div>      
    </aside>
