        main {
            max-width: 1200px;
            margin: 100px auto 0;
            padding: 2em;
        }      
        .contactHeader {
            font-size: 1.7rem;
            font-weight: bold;
            font-family: 'Pentameter ExtraLight', 'Fira Sans', sans-serif !important;
            margin: 0;
            padding: 0 0 40px;
        }
        .content {
            display: flex;
            gap: 5px 10%;
        }
        .hello {
            flex: 0 0 40%;
            font-size: 16px;
        }
        .contact-form {
            flex: 0 0 60%;
            margin-top: 35px;
            font-size: 20px;
        }
        @media (max-width: 768px) {
            .content {
                flex-direction: column;
            }
            .hello, .contact-form {
                flex: 1;
            }
            .contact-form {
                font-size: 17px;
                margin-top: 26px;
            }
            .contactHeader {
                padding-bottom: 0;
            }
        }
        form input, form textarea {
            width: 100%;   
            padding: 25px 15px;
            color: black;
            background: none;
            border: none;
            outline: none;
            font-family: var(--mono-font);
            border-top: 0.0875em solid var(--color-main);
            box-sizing: border-box;         
        }
        form input:focus, form textarea:focus {
            border-top: 3px solid #474747;
        }
        form textarea {
            resize: none;
        }
        form button {
            display: block;
            width: 100%;
            max-width: 400px;
            margin: 6% 0 0; 
            padding: 12px 28px;
            background-color: transparent;
            color: black;
            font-weight: bold;
            font-size: 21px;
            font-family: "Syncopate", sans-serif;
            border: 3px solid black;
            border-radius: 50px;
            outline: none;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            cursor: pointer;
            transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='17' fill='%23000000'%3E %3Cpath fill-rule='evenodd' d='M24.736 10.246v6.351l16.4-8.347-16.4-8.099v6.085H.541v4.01h24.195z'/%3E %3C/svg%3E");
            background-position: right 32px center;
            background-repeat: no-repeat;
            background-size: 31px 12px;
            padding-right: 80px;

            position: relative;
            overflow: hidden;
            z-index: 1;
        }
        form button:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            transition: transform 0.25s ease-in-out;
            transform: translate3d(-100%, 0, 0);
            z-index: -1;
        }
        form button:hover, form button:focus {
            color: linen;
            transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), background-color 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 2s cubic-bezier(0.165, 0.84, 0.44, 1);
            transform: translateY(-4px);
            box-shadow: 4px 4px 0px rgba(3,4,3,.2);
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='17' fill='%23ffffff'%3E %3Cpath fill-rule='evenodd' d='M24.736 10.246v6.351l16.4-8.347-16.4-8.099v6.085H.541v4.01h24.195z'/%3E %3C/svg%3E");
        }
        form button:hover:before {
            transform: translate3d(0, 0, 0);
        }
        form button:active {
            transform: translateY(0px);
            box-shadow: 0px 0px 0px rgba(3,4,3,.15);
        }
        /* custom placeholder color ==>
        form input::placeholder, form textarea::placeholder {
            color: #757575;
        }
        */
        #optional-text {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 0.73em;
            font-style: italic;
            font-family: var(--mono-font);
            color: rgba(0, 0, 0, 0.4);    
        }
