        main {
            max-width: 1200px;
            margin: 100px auto 0;
            padding: 2em;
        }      
        .contactHeader {
            font-size: 1.7rem;
            font-weight: bold;
            font-family: 'Pentameter ExtraLight', 'Fira Sans', sans-serif !important;
            margin: 0;
            padding: 0 0 40px;
        }
        .content {
            display: flex;
            gap: 5px 10%;
        }
        .hello {
            flex: 0 0 40%;
            font-size: 16px;
        }
        .contact-form {
            flex: 0 0 60%;
            margin-top: 35px;
            font-size: 20px;
        }
        @media (max-width: 768px) {
            .content {
                flex-direction: column;
            }
            .hello, .contact-form {
                flex: 1;
            }
            .contact-form {
                font-size: 17px;
                margin-top: 26px;
            }
            .contactHeader {
                padding-bottom: 0;
            }
        }
        form input, form textarea {
            width: 100%;   
            padding: 25px 15px;
            color: black;
            background: none;
            border: none;
            outline: none;
            font-family: var(--mono-font);
            border-top: 0.0875em solid var(--color-main);
            box-sizing: border-box;         
        }
        form input:focus, form textarea:focus {
            border-top: 3px solid #474747;
        }
        form textarea {
            resize: none;
        }
        form button {
            display: block;
            width: 100%;
            max-width: 400px;
            margin: 6% 0 0; 
            padding: 10px 20px;
            background-color: rgba(0, 0, 0, 0.3);        
            color: var(--color-main);
            font-size: 21px;
            font-family: "Syncopate", sans-serif;
            border: 2px solid black;
            border-radius: 50px;
            outline: none;  
            cursor: pointer;
            transform: translateZ(0);
            transition: background-color 0.3s ease, transform 0.25s ease-out;
        }        
        form button:hover, form button:focus {
            transform: scale(1.05);
            background-color: rgba(0, 0, 0, 0.1);
            border: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        form button:active {
            transform: scale(0.9);
        }
        form input::placeholder, form textarea::placeholder {
            /* color: #757575; Custom placeholder color */
            font-size: 20px;
        }
        #optional-text {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 0.73em;
            font-style: italic;
            font-family: var(--mono-font);
            color: rgba(0, 0, 0, 0.4);    
        }
