main {
  max-width: 800px;
  margin: 25vh auto 0;
  padding: 1.25em;
}

header {
  margin-bottom: 40px;
}

.author {
  margin-right: -5px;
  text-align: right;     
  font-family: var(--mono-font);
  font-size: 11px;
  letter-spacing: .04em;
}


@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('https://raw.githubusercontent.com/dduyg/LiminalLoop/main/fonts/CabinetGrotesk-Variable.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/dduyg/LiminalLoop/main/fonts/CabinetGrotesk-Variable.woff') format('woff');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
.description {
  font-size: 22px;
  font-family: 'Cabinet Grotesk', sans-serif;
  font-weight: 500;
  font-variation-settings: 'wght' 500;
}
