main {
  max-width: 800px;
  margin: 25vh auto 0;
  padding: 1.25em;
}

header {
  margin-bottom: 40px;
}

.author {
  margin-right: -5px;
  text-align: right;     
  font-family: var(--mono-font);
  font-size: 11px;
  letter-spacing: .04em;
}

@font-face {         
  font-family: 'Sometimes Times';
  src: url('https://raw.githubusercontent.com/dduyg/LiminalLoop/main/fonts/SometimesTimes-Regular.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/dduyg/LiminalLoop/main/fonts/SometimesTimes-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.description {
  font-size: 22px;
  font-family: 'Sometimes Times', serif;
}
