main {
  max-width: 800px;
  margin: 25vh auto 0;
  padding: 1.25em;
}

header {
  margin-bottom: 40px;
}

.author {
  margin-right: -5px;
  text-align: right;     
  font-family: var(--mono-font);
  font-size: 11px;
  letter-spacing: .04em;
}

@font-face {
      font-family: 'PP Migra';
      src: url('https://raw.githubusercontent.com/dduyg/LiminalLoop/main/fonts/PPMigra-Regular.woff2') format('woff2'),
           url('https://raw.githubusercontent.com/dduyg/LiminalLoop/main/fonts/PPMigra-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}
.description {
  font-size: 22px;
  font-weight: bold;
  font-family: 'PP Migra', sans-serif;
}
