* {   /* Reset to ensure a clean slate */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html { /* Hide only page's main scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}
::-moz-selection {
  background: black;
  color: white;
}
::selection {
  background: black;
  color: white;
}
@font-face {
  font-family: 'Codetta';
  src: url('https://cdn.jsdelivr.net/gh/dduyg/LiminalLoop@main/fonts/Codetta.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/dduyg/LiminalLoop@main/fonts/Codetta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-main: #2d2d2d; 
  --assertive: #C9C9BF;
  --back: #FAF9F5;
  --main-font: "Inclusive Sans", sans-serif;
  --mono-font: 'Codetta', 'Google Sans Code', monospace;
  --feature-font: "Syncopate", monospace;
}

body {
  background-color: var(--back);
  color: var(--color-main);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
}
nav, main, footer, a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
nav, footer {
  user-select: none;
}
img, svg {
  user-select: none;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a.link {
  font-family: 'HARMONY', sans-serif;
  padding-bottom: 0.4ex;
  background-image: linear-gradient(to right, currentColor, currentColor);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.5s ease-in-out;
}
a.link:hover, a.link:focus {
  background-size: 100% 2px;
}

.heading {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: 'wght' 400;
  font-style: normal;
  line-height: 1.28;
}

/* Navigation
------------------------------*/
.siteHeader {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.siteHeader_title {
  display: block;
  font-size: 1.6rem;
  font-family: "Ruda", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  cursor: pointer;
  animation: wave 2s infinite alternate;
}
@keyframes wave { 0%, 100% {transform: scaleY(1);} 25% {transform: scaleY(1.2);} 50% {transform: scaleY(0.8);} }

#aside-menu {
  display: none; /* Hide this by default for smaller screens */
}

.siteHeader_menuBtn {
  position: relative;
  width: 43px;
  height: 27.5px;
  margin-right: 10px;
  cursor: pointer;
}
.siteHeader_menuBtn .ring {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1.5px solid currentColor;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.6s ease;
  pointer-events: none;
  transform: scaleY(0.5);
  transform-origin: center top;
}
.siteHeader_menuBtn .ring1 {top: 6px;}
.siteHeader_menuBtn .ring2 {top: 11px;}
.siteHeader_menuBtn .ring3 {top: 16px;}

.siteHeader_menuBtn.open .ring {
  transform: translateY(6px) scaleY(0.8);
  box-shadow: none;
}

.dropNav {
  position: fixed;
  top: 6rem;
  right: 2rem;
  width: 85%;
  max-width: 550px;
  visibility: hidden;
  z-index: 11;
}
.dropNav .item {
  display: block;
  border: solid var(--color-main);
  border-width: 2px 1px 1px 2px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background: #C8C9C2;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  font-family: var(--feature-font);
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(100%); /* Initially out of screen on the right */
  opacity: 0;
}
.dropNav .item.open {
  opacity: 1;
  transform: translateX(0); /* Move into view */
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.item.active::before {
  content: '';
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background-color: currentColor;
  margin-right: 0.6em;
  animation: rotate 1.5s ease-in-out infinite;
}
@keyframes rotate { 0% {transform: rotateX(0deg);} 100% {transform: rotateX(360deg);} }

@media (min-width: 768px) { /* Navigation for larger screens */
  .siteHeader {
    padding: 1.5rem 4rem;
  }
  .siteHeader_title {
    position: relative;
    padding-left: 1.1em; /* Create space for the SVG */
  }
  .siteHeader_title::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;
    background: url('data:image/svg+xml;utf8,<svg fill="%23000000" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 108.04 108.04" xml:space="preserve"><path d="M29,5.493H0v29h29V5.493z M24,29.493H5v-19h19V29.493z M92.915,72.297c-8.34,0-15.125,6.785-15.125,15.125 c0,8.341,6.785,15.125,15.125,15.125s15.125-6.784,15.125-15.125C108.04,79.082,101.255,72.297,92.915,72.297z M92.915,97.547 c-5.583,0-10.125-4.542-10.125-10.125s4.542-10.125,10.125-10.125s10.125,4.542,10.125,10.125S98.498,97.547,92.915,97.547z M90.415,55.778H30.559H26.5H12.016V54.61h-0.014V39.445h5v11.333H26.5h4.059h64.805v2.346h0.052V68.29h-5L90.415,55.778 L90.415,55.778z"></path></svg>') no-repeat center;
    background-size: contain;
  }
  #aside-menu {
    display: block;
    text-align: right;
    font-family: var(--mono-font);
  }
  #aside-menu .item {
    display: inline-block;
    font-size: 1.1em;
    margin-right: 2rem;
    cursor: pointer;
  }
  #drop-menu {
    display: none;
  }
}


/* Footer
------------------------------*/
.footer-img {
  margin-top: 45px;
  width: 100%;
  height: auto;
  opacity: 0.4;
}
footer {        
  display: flex;        
  justify-content: space-between;        
  align-items: center;         
  gap: 15px;        
  margin: 0 20px 20px;     
}
.copyrights {
  font-family: var(--mono-font);
  font-size: .9rem;
}
.cnt-links {     
  display: flex;      
  justify-content: space-between;        
  gap: 4px 16px;      
  font-size: .8rem;
}
.cnt-links a {        
  text-transform: uppercase;
}
.emphasis {
  font-family: "Google Sans Code", monospace;
  font-weight: bold;
}
@media (max-width: 768px) {
  footer {align-items: flex-start;}
  footer, .cnt-links {flex-direction: column;}
}

/************************************************
 *  Semantic UI 2.5.0 - Image
 *  http://github.com/semantic-org/semantic-ui/
 ************************************************
 ************************************************/
.ui.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;
}
img.ui.image {
  display: block;
}
.ui.image svg,
.ui.image img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*******************************
          Variations
*******************************/

/*--------------
     Inline
---------------*/
.ui.inline.image,
.ui.inline.image svg,
.ui.inline.image img {
  display: inline-block;
}

/*------------------
  Vertical Aligned
-------------------*/
.ui.top.aligned.images .image,
.ui.top.aligned.image,
.ui.top.aligned.image svg,
.ui.top.aligned.image img {
  display: inline-block;
  vertical-align: top;
}
.ui.middle.aligned.images .image,
.ui.middle.aligned.image,
.ui.middle.aligned.image svg,
.ui.middle.aligned.image img {
  display: inline-block;
  vertical-align: middle;
}
.ui.bottom.aligned.images .image,
.ui.bottom.aligned.image,
.ui.bottom.aligned.image svg,
.ui.bottom.aligned.image img {
  display: inline-block;
  vertical-align: bottom;
}

/*--------------
     Rounded
---------------*/
.ui.rounded.images .image,
.ui.rounded.image,
.ui.rounded.images .image > *,
.ui.rounded.image > * {
  border-radius: 0.3125em;
}

/*--------------
    Bordered
---------------*/
.ui.bordered.images .image,
.ui.bordered.images img,
.ui.bordered.images svg,
.ui.bordered.image img,
.ui.bordered.image svg,
img.ui.bordered.image {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/*--------------
    Circular
---------------*/
.ui.circular.images,
.ui.circular.image {
  overflow: hidden;
}
.ui.circular.images .image,
.ui.circular.image,
.ui.circular.images .image > *,
.ui.circular.image > * {
  border-radius: 500rem;
}

/*--------------
     Fluid
---------------*/
.ui.fluid.images,
.ui.fluid.image,
.ui.fluid.images img,
.ui.fluid.images svg,
.ui.fluid.image svg,
.ui.fluid.image img {
  display: block;
  width: 100%;
  height: auto;
}

/*--------------
     Avatar
---------------*/
.ui.avatar.images .image,
.ui.avatar.images img,
.ui.avatar.images svg,
.ui.avatar.image img,
.ui.avatar.image svg,
.ui.avatar.image {
  margin-right: 0.25em;
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 500rem;
}

/*-------------------
       Spaced
--------------------*/
.ui.spaced.image {
  display: inline-block !important;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.ui[class*="left spaced"].image {
  margin-left: 0.5em;
  margin-right: 0em;
}
.ui[class*="right spaced"].image {
  margin-left: 0em;
  margin-right: 0.5em;
}

/*-------------------
       Floated
--------------------*/
.ui.floated.image,
.ui.floated.images {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.ui.right.floated.images,
.ui.right.floated.image {
  float: right;
  margin-right: 0em;
  margin-bottom: 1em;
  margin-left: 1em;
}
.ui.floated.images:last-child,
.ui.floated.image:last-child {
  margin-bottom: 0em;
}
.ui.centered.images,
.ui.centered.image {
  margin-left: auto;
  margin-right: auto;
}

/*--------------
     Sizes
---------------*/
.ui.mini.images .image,
.ui.mini.images img,
.ui.mini.images svg,
.ui.mini.image {
  width: 35px;
  height: auto;
  font-size: 0.78571429rem;
}
.ui.tiny.images .image,
.ui.tiny.images img,
.ui.tiny.images svg,
.ui.tiny.image {
  width: 80px;
  height: auto;
  font-size: 0.85714286rem;
}
.ui.small.images .image,
.ui.small.images img,
.ui.small.images svg,
.ui.small.image {
  width: 150px;
  height: auto;
  font-size: 0.92857143rem;
}
.ui.medium.images .image,
.ui.medium.images img,
.ui.medium.images svg,
.ui.medium.image {
  width: 300px;
  height: auto;
  font-size: 1rem;
}
.ui.large.images .image,
.ui.large.images img,
.ui.large.images svg,
.ui.large.image {
  width: 450px;
  height: auto;
  font-size: 1.14285714rem;
}
.ui.big.images .image,
.ui.big.images img,
.ui.big.images svg,
.ui.big.image {
  width: 600px;
  height: auto;
  font-size: 1.28571429rem;
}
.ui.huge.images .image,
.ui.huge.images img,
.ui.huge.images svg,
.ui.huge.image {
  width: 800px;
  height: auto;
  font-size: 1.42857143rem;
}
.ui.massive.images .image,
.ui.massive.images img,
.ui.massive.images svg,
.ui.massive.image {
  width: 960px;
  height: auto;
  font-size: 1.71428571rem;
}


/*******************************
              Groups
*******************************/
.ui.images {
  font-size: 0em;
  margin: 0em -0.25rem 0rem;
}
.ui.images .image,
.ui.images > img,
.ui.images > svg {
  display: inline-block;
  margin: 0em 0.25rem 0.5rem;
}

/*******************************
              MARKDOWN
*******************************/ 
a.absent {
  color: #FF00F4;
}

a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2857em;
  margin: calc(2rem -  0.14285em ) 0em 1rem;
  font-weight: bold;
  padding: 0em;
}
h1 {
  min-height: 1rem;
  font-size: 2rem;
}
h2 {
  font-size: 1.714rem;
}
h3 {
  font-size: 1.28rem;
}
h4 {
  font-size: 1.071rem;
}
h5 {
  font-size: 1rem;
}

p, blockquote, ul, ol, dl, li, table, pre {
  margin: 15px 0;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

blockquote { 
  border-left: 3px solid #5a5a5a;
  padding-left: 18px;
}

span.frame {
  display: block;
  overflow: hidden;
}

span.frame > span {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}

span.frame span img {
  display: block;
  float: left;
}

span.frame span span {
  clear: both;
  color: #333333;
  display: block;
  padding: 5px 0 0;
}

span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}

span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}

span.align-right span img {
  margin: 0;
  text-align: right;
}

span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}

span.float-left span {
  margin: 13px 0 0;
}

span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}

span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #cecece;
  // background-color: #f8f8f8;
  border-radius: 3px;
}

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.highlight pre {
  // background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

pre {
  // background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

pre code, pre tt {
  background-color: transparent;
  border: none;
}
/*******************************
*******************************/
