:root {
  --color-main: rgba(0, 0, 0, 0.87);
  --color-light-main: #292721; 
  --marker: #C9C9BF;
  --back: #9D9D9D;
  --main-font: "Fira Sans", sans-serif;
  --mono-font: "Source Code Pro", monospace;
}

@font-face {
    font-family: 'Pentameter Light';
    src: url('https://raw.githubusercontent.com/dduyg/LiminalLoop/main/fonts/Pentameter-Wide-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  background-color: var(--back);
  color: var(--color-main);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link {
  color: rgba(0, 0, 0, 0.87);
  font-family: var(--mono-font);
  padding-bottom: 0px !important;
  border-bottom: 2px solid #5a5a5a;
  transform: skew(-12deg) translateX(-50%);
}

h1, h2 {
  font-family: 'Pentameter Light', 'Fira Sans', sans-serif;
}

.inline-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

/* Navigation
------------------------------*/
nav {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem 1rem;
}

.home-badge {
  display: table-cell;
  vertical-align: middle;
  width: 25%;
  cursor: pointer;
}

#badge {
  display: inline-block;
  width: 4.5rem;
  pointer-events: none;
}

#menu {
  display: none; /* Hide this by default for smaller screens */
}

#dropdown-menu {
  display: table-cell;
  vertical-align: middle;
  width: 75%;
  text-align: right;
  color: var(--color-light-main);
}

.dropdown-btn {
  position: relative;
  display: inline-block;
  font-size: 1.1em;
  margin-right: 1rem;
  letter-spacing: 3px;
  font-weight: 700;
  cursor: pointer;
}

.dropdown-btn::before {
  content: '';
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background: black;
  margin-right: 0.5em;
  animation: rotate 1.5s ease-in-out infinite;
}
@keyframes rotate {
  0% { transform: rotateX(0deg); }
  100% { transform: rotateX(360deg); }
}

.dropdown-btn:hover::before,
.dropdown-btn:focus::before,
.dropdown-btn:active::before {
  animation: none;
}

.dropdown-content {
  position: absolute;
  top: 6rem;
  right: 2rem;
  width: 85%;
  max-width: 550px;
  visibility: hidden;
  overflow: hidden;
  z-index: 11;
}

.dropdown-content .item {
  position: relative;
  left: 100%;
  transition: 0.5s;
  transition-delay: calc(60ms * var(--delay));
  display: block;
  border: solid var(--color-main);
  border-width: 2px 1px 1px 2px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: .5rem 1rem;
  margin-bottom: .5rem;
  background: #898989;
  text-align: center;
  text-decoration: none;
  font-size: 1.8em;
  font-family: "Syncopate", sans-serif;
  cursor: pointer;
}

.dropdown-content .item.active {
  color: #484848;
}

.item.active::before {
  content: '';
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background-color: var(--color-main);
  margin-right: 0.3em;
  animation: rotate 1.5s ease-in-out infinite;
}

.dropdown-btn:focus + .dropdown-content .item {
  left: 0;
}

.dropdown-btn:focus + .dropdown-content {
  visibility: visible;
}

.dropdown-content .item:hover {
  background: #7B7B7B;
}

/* Navigation for larger screens with a min-width of 30em */
@media screen and (min-width: 30em) {
  nav {
    padding: 0.75rem 4rem;
  }

  .home-badge {
    width: 20%;
  }

  #menu {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
    text-align: right;
    color: var(--color-light-main);
    font-family: var(--mono-font);
  }

  #menu .item {
    display: inline-block;
    font-size: 1.1em;
    margin-right: 2rem;
    cursor: pointer;
  }
  
  .item.active {
    font-weight: bold;
  }

  .logo-item {
    margin-right: 6rem !important;
  }

  #dropdown-menu {
    display: none;
  }
}

/* Footer
------------------------------*/
footer {
  font-family: var(--mono-font);
  padding: 2rem;
  display: block;
}
.site-copyright {
  font-family: "Fira Code", monospace !important;
  font-size: .7rem;
  font-weight: bold;
  color: #585858;
  display: block;
  vertical-align: middle; 
  width: 100%;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem; 
  line-height: 1.5;
}
.social-links, .site-contact {
  display: block;
  font-size: .875rem;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: 0;
  margin-bottom: 0;
}
.social-links a {
  color: var(--color-light-main);
  font-size: 1.1rem;
  margin-right: .25rem;
  display: inline-block;
  cursor: pointer;
}
.site-contact a {
  display: inline-block;
  padding: .25rem .5rem;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 60em) {
  footer {
    padding: 2rem 4rem;
    display: table;
  }
  .site-copyright { 
    display: table-cell;
    width: 33%;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;  
  }
  .social-links {
    display: table-cell;
    width: 33%;
    padding-top: 0;
    padding-bottom: 0;
  }  
  .site-contact {
    display: table-cell;
    text-align: right;
    padding-top: 0;
    padding-bottom: 0;
  }
}
/********************************/

nav, main, footer {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
nav, footer {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
nav:focus, nav:active, main:focus, main:active, footer:focus, footer:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}






/*!
 * # Semantic UI 2.5.0 - Image
 * http://github.com/semantic-org/semantic-ui/
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 ********************************
             Image
*******************************/
.ui.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent;
}
img.ui.image {
  display: block;
}
.ui.image svg,
.ui.image img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*******************************
            States
*******************************/
.ui.hidden.images,
.ui.hidden.image {
  display: none;
}
.ui.hidden.transition.images,
.ui.hidden.transition.image {
  display: block;
  visibility: hidden;
}
.ui.images > .hidden.transition {
  display: inline-block;
  visibility: hidden;
}
.ui.disabled.images,
.ui.disabled.image {
  cursor: default;
  opacity: 0.45;
}

/*******************************
          Variations
*******************************/

/*--------------
     Inline
---------------*/
.ui.inline.image,
.ui.inline.image svg,
.ui.inline.image img {
  display: inline-block;
}

/*------------------
  Vertical Aligned
-------------------*/
.ui.top.aligned.images .image,
.ui.top.aligned.image,
.ui.top.aligned.image svg,
.ui.top.aligned.image img {
  display: inline-block;
  vertical-align: top;
}
.ui.middle.aligned.images .image,
.ui.middle.aligned.image,
.ui.middle.aligned.image svg,
.ui.middle.aligned.image img {
  display: inline-block;
  vertical-align: middle;
}
.ui.bottom.aligned.images .image,
.ui.bottom.aligned.image,
.ui.bottom.aligned.image svg,
.ui.bottom.aligned.image img {
  display: inline-block;
  vertical-align: bottom;
}

/*--------------
     Rounded
---------------*/
.ui.rounded.images .image,
.ui.rounded.image,
.ui.rounded.images .image > *,
.ui.rounded.image > * {
  border-radius: 0.3125em;
}

/*--------------
    Bordered
---------------*/
.ui.bordered.images .image,
.ui.bordered.images img,
.ui.bordered.images svg,
.ui.bordered.image img,
.ui.bordered.image svg,
img.ui.bordered.image {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/*--------------
    Circular
---------------*/
.ui.circular.images,
.ui.circular.image {
  overflow: hidden;
}
.ui.circular.images .image,
.ui.circular.image,
.ui.circular.images .image > *,
.ui.circular.image > * {
  border-radius: 500rem;
}

/*--------------
     Fluid
---------------*/
.ui.fluid.images,
.ui.fluid.image,
.ui.fluid.images img,
.ui.fluid.images svg,
.ui.fluid.image svg,
.ui.fluid.image img {
  display: block;
  width: 100%;
  height: auto;
}

/*--------------
     Avatar
---------------*/
.ui.avatar.images .image,
.ui.avatar.images img,
.ui.avatar.images svg,
.ui.avatar.image img,
.ui.avatar.image svg,
.ui.avatar.image {
  margin-right: 0.25em;
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 500rem;
}

/*-------------------
       Spaced
--------------------*/
.ui.spaced.image {
  display: inline-block !important;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.ui[class*="left spaced"].image {
  margin-left: 0.5em;
  margin-right: 0em;
}
.ui[class*="right spaced"].image {
  margin-left: 0em;
  margin-right: 0.5em;
}

/*-------------------
       Floated
--------------------*/
.ui.floated.image,
.ui.floated.images {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.ui.right.floated.images,
.ui.right.floated.image {
  float: right;
  margin-right: 0em;
  margin-bottom: 1em;
  margin-left: 1em;
}
.ui.floated.images:last-child,
.ui.floated.image:last-child {
  margin-bottom: 0em;
}
.ui.centered.images,
.ui.centered.image {
  margin-left: auto;
  margin-right: auto;
}

/*--------------
     Sizes
---------------*/
.ui.mini.images .image,
.ui.mini.images img,
.ui.mini.images svg,
.ui.mini.image {
  width: 35px;
  height: auto;
  font-size: 0.78571429rem;
}
.ui.tiny.images .image,
.ui.tiny.images img,
.ui.tiny.images svg,
.ui.tiny.image {
  width: 80px;
  height: auto;
  font-size: 0.85714286rem;
}
.ui.small.images .image,
.ui.small.images img,
.ui.small.images svg,
.ui.small.image {
  width: 150px;
  height: auto;
  font-size: 0.92857143rem;
}
.ui.medium.images .image,
.ui.medium.images img,
.ui.medium.images svg,
.ui.medium.image {
  width: 300px;
  height: auto;
  font-size: 1rem;
}
.ui.large.images .image,
.ui.large.images img,
.ui.large.images svg,
.ui.large.image {
  width: 450px;
  height: auto;
  font-size: 1.14285714rem;
}
.ui.big.images .image,
.ui.big.images img,
.ui.big.images svg,
.ui.big.image {
  width: 600px;
  height: auto;
  font-size: 1.28571429rem;
}
.ui.huge.images .image,
.ui.huge.images img,
.ui.huge.images svg,
.ui.huge.image {
  width: 800px;
  height: auto;
  font-size: 1.42857143rem;
}
.ui.massive.images .image,
.ui.massive.images img,
.ui.massive.images svg,
.ui.massive.image {
  width: 960px;
  height: auto;
  font-size: 1.71428571rem;
}


/*******************************
              Groups
*******************************/
.ui.images {
  font-size: 0em;
  margin: 0em -0.25rem 0rem;
}
.ui.images .image,
.ui.images > img,
.ui.images > svg {
  display: inline-block;
  margin: 0em 0.25rem 0.5rem;
}
/*******************************
*******************************/
