<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <title>{% if page.title %}{{ page.title }} | {% endif %}dduyg</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Sofia+Sans+Extra+Condensed:wght@500&family=Source+Code+Pro&family=Syncopate&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    
  <script src="https://kit.fontawesome.com/63e03a9b9c.js" crossorigin="anonymous"></script>  
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  {% for css_file in page.css %}<link rel="stylesheet" href="{{ site.baseurl }}/assets/{{ css_file }}.css">{% endfor %}
</head>
<body>
  <div class="siteHeader">
    <a class="siteHeader_title" href="{{ site.baseurl }}/">/dduyg</a>
    <nav id="aside-menu">
      <a class="item {% if page.url contains '/posts/' %}active{% endif %}" href="{{ site.baseurl }}/posts">posts</a>
      <a class="item {% if page.url == '/about.html' %}active{% endif %}" href="{{ site.baseurl }}/about">about</a>
      <a class="item {% if page.url contains '/works/' %}active{% endif %}" href="{{ site.baseurl }}/works">works</a>
      <a class="item {% if page.url == '/contact.html' %}active{% endif %}" href="{{ site.baseurl }}/contact">contact</a>
    </nav>
    <nav id="drop-menu">
      <div class="siteHeader_menuBtn" id="menuBtn">
        <div class="ring ring1"></div>
        <div class="ring ring2"></div>
        <div class="ring ring3"></div>
      </div>
      <div class="dropNav">
        <a class="item {% if page.url == '/' %}active{% endif %}" href="{{ site.baseurl }}/"><span>home</span></a>
        <a class="item {% if page.url contains '/posts/' %}active{% endif %}" href="{{ site.baseurl }}/posts"><span>posts</span></a>
        <a class="item {% if page.url == '/about.html' %}active{% endif %}" href="{{ site.baseurl }}/about"><span>about</span></a>
        <a class="item {% if page.url contains '/works/' %}active{% endif %}" href="{{ site.baseurl }}/works"><span>works</span></a>
        <a class="item {% if page.url == '/contact.html' %}active{% endif %}" href="{{ site.baseurl }}/contact"><span>contact</span></a>
      </div>
    </nav>
  </div>

  <main>
  <!-- ————————●●●———————— -->
       {{ content }}
  <!-- ————————●●●———————— -->
  </main>

  <footer>
    {% include footer.html %}
  </footer>

  <!-- To use SVG filter effects, you'll need to include the SVG below with the appropriate filter.-->
    <svg height="0" width="0" style="position: absolute;"> 
      <!--Don't hide this with display: none; or the filter won't show on Firefox! -->
      
      <filter id="outlineHover" x="0" y="0" width="100%" height="100%" filterUnits="objectBoundingBox" color-interpolation-filters="sRGB">
        <feMorphology operator="dilate" radius="0.6" in="SourceAlpha" result="morphology"/>
        <feFlood flood-color="#161616" flood-opacity="1" result="flood"/>
        <feComposite in="flood" in2="morphology" operator="in" result="composite"/>
        <feComposite in="composite" in2="SourceAlpha" operator="out" result="outline"/>
      </filter>
    </svg>

  {% if page.scrollreveal %}
  <script src="https://unpkg.com/scrollreveal"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      ScrollReveal().reveal('{{ page.scrollreveal }}', {
        origin: 'bottom',   // Direction from where the elements will appear e.g. 'top' or 'bottom'
        distance: '50px',   // Distance the elements will travel
        duration: 1000,     // Duration of each animation (1 second)
        interval: 200       // Each subsequent element starts 0.2 seconds after the previous one
      });
    }); 
  </script>
  {% endif %}

  <script>
    const menuBtn = document.getElementById('menuBtn');
    const dropNav = document.querySelector('.dropNav');
    const body = document.body;

    menuBtn.addEventListener('click', () => {
      const isOpen = menuBtn.classList.toggle('open');
      dropNav.style.visibility = isOpen ? 'visible' : 'hidden';

      const items = [...dropNav.querySelectorAll('.item')];

      if (isOpen) {
        items.forEach((item, index) => {
          item.classList.remove('open'); // Reset class for fresh animations
          item.style.transitionDelay = `${index * 0.2}s`; // Add delay for animation
          item.classList.add('open');
        });
      } else {
        items.forEach((item) => {
          item.style.transitionDelay = '';
          item.classList.remove('open');
        });
      }
    });

    // Close menu if clicked outside
    body.addEventListener('click', (e) => {
      if (!menuBtn.contains(e.target) && !dropNav.contains(e.target)) {
        menuBtn.classList.remove('open');
        dropNav.style.visibility = 'hidden';
        const items = [...dropNav.querySelectorAll('.item')];
        items.forEach((item) => {
          item.classList.remove('open');
        });
      }
    });
  </script>
</body>
</html>
