---
layout: essays
---

<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/markdown.css">
<div style="font-size: 18px; margin-top: 20px;" class="ui container">

  <div style="font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;" class="ui breadcrumb">
     <a href="{{ site.baseurl}}/" class="section breadlink">Home</a>
     <i class="right chevron icon divider"></i>
     <a href="/{{ site.essays-url }}" class="section breadlink">{{ site.essays-page-label }}</a>
     <i class="right chevron icon divider"></i>
  </div>

  <h1 style="color: #262626; font-size: 2em; font-family: 'Poppins', sans-serif;" class="no-top">{{ page.title }}</h1>

  <span style="font-size: 15px;">
      <span style="font-family: 'Source Code Pro', monospace;"> ▉ {{ page.date | date_to_string }}&nbsp; &nbsp; &nbsp; ▉ <a href="{{ site.baseurl }}/{{ site.bio-url }}" class="lined">Duygu Dağdelen</a> &nbsp; &nbsp; </span>
      {% if page.mediumurl %}
         <a href="{{ page.mediumurl }}" target="_blank">
           <button style="margin-left: 2%; margin-top: 2%; background-color: transparent;" class="ui mu button">
            <i class="icons"> <i class="black stop icon"></i> <i style="color: #a85047;" class="large dot circle outline icon"></i></i>
            <a href="{{ page.mediumurl }}" target="_blank" class="mu">Read/Save on Medium</a>
           </button>
         </a>
      {% endif %}
      {% if page.githuburl %}
         <a href="{{ page.githuburl }}" target="_blank">
           <button style="margin-left: 2%; margin-top: 2%; background-color: transparent; font-weight: normal;" class="ui mu button">
            <i class="large icons"> <i style="color: #E0E1E2;" class="circle icon"></i><i class="black github icon"></i></i>
            <a href="{{ page.githuburl }}" target="_blank" class="lined">Source code</a>
           </button>
         </a>
      {% endif %}
  </span>

  <div class="ui hidden divider"></div>
  {{ content }}
  {% include footer.html %}
        
</div>
